<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="reusableComponents.ListenersImplementation" />
</listeners>
  <test name="Test">
    <classes>
      <class name="uiTests.EndToEndTests_motorcycle"/>
      <class name="uiTests.ErrorTests_motorcycle"/>
      <class name="uiTests.ImageTest_HomePage"/>
      <class name="uiTests.TestLinks_HomePage"/>
      <class name="uiTests.TestSearch_HomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->